<div class="subPart">
  <% members = leaderboard.members.sort_by{ |m| -m.contributions_count } %>
  <h2 class="float-left">Leaderboard</h2>
  <h4 class="float-right"><%= members.size %> contributors</h4>
  <table class="table">
    <thead></thead>
    <tbody>
      <% for member in members do %>
        <tr>
          <td colspan=3 style="padding-bottom:0;">
            <div class="progress" style="height: 15px;">
              <div class="progress-bar" role="progressbar" aria-valuenow="<%=member.challenge_completion%>" aria-valuemin="0" aria-valuemax="100" style="width:<%=member.challenge_completion%>%;">
				<%=member.contributions_count%>/<%=Member.objective%>
			  </div>
			</div>
		</td>
		</tr>
        <tr class="member">
          <td style="width: 100px;vertical-align:middle;border-top:0;"><a href="/<%=member.username%>">
		  <div style="position:relative;">
		  	<img class="rounded" style="max-width:100%;" src="<%=member.avatar%>" alt="YZ"/>
              <span style="position:absolute;right: 0;bottom: 0;" class="badge badge-primary"><%= member.contributions_count %></span>
              <% if member.challenge_complete? %>
                <img src="img/medal.png" class="avatar-icon">
              <% end %>
            </div>
          </a></td>
        <td style="width:150px;vertical-align:middle;border-top:0;"><a href="/<%=member.username%>">
            <%=member.username%>
          </a></td>
        <td style="padding-left:25px;border-top:0;">
          <% for badge in member.badges
							nbadge = badge.times_earned_by(member)
							cls = "avatar avatar-xl"
							cls << " badge" if nbadge > 1
						%>
          <img data-toggle="popover" data-trigger="hover" title="<%=badge.title%>" data-content="<%=badge.description%>" style="height:75px;" src="img/badges/<%=badge.short%>.png" alt="<%=badge.short%>">
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
</div>
